@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Aref+Ruqaa+Ink&family=Raleway:ital,wght@1,200&display=swap');

@font-face {
    font-family: disney ;
    src: url(/assets/fonts/waltograph/waltographUI.ttf) format('truetype');
}

.historia{
    font-family: disney;
    font-size:50px;
}

.conteudo{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: justify;
    font-weight: 100;
}

.sombrabe:hover{
    box-shadow: 0px 0px 40px 40px;
    border-radius: 60%;
    transform: translateX(20px);
}

.sombratd{
    box-shadow: 0px 0px 40px 10px rgb(86, 189,163);
    transform: translateX(20px);
    border-radius: 30%;
}

.invisivel{
    color: #ffffff;
}